* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    color: #333333;
    overflow-x: hidden;
}

/*flex布局的基础设置，将一行看作12列*/
.row {
    display: flex;
    /*四个内边距*/
    padding: 5px 5px 5px 5px;
    /*允许换行，这样用一个row套若干个column即可*/
    flex-wrap: wrap;
}

/*父元素等宽*/
.col-12 {
    flex: 0 0 99%;
}

/*父元素2/3*/
.col-8 {
    flex: 0 0 66%;
}

/*父元素一半*/
.col-6 {
    flex: 0 0 48%;
}

/*父元素1/3*/
.col-4 {
    flex: 0 0 33%;
}

/*父元素1/4*/
.col-3 {
    flex: 0 0 24%;
}

/*父元素1/6*/
.col-2 {
    flex: 0 0 16.6%;
}

/*超链接样式，颜色，无下划线*/
a, a:link {
    color: #eee;
    text-decoration: none;
}

/*伪类样式，鼠标悬停颜色*/
a:hover {
    color: #fff;
}

#top {
    height: 50px;
    background: linear-gradient(to bottom, rgb(36, 169, 190), rgb(120, 193, 204));
    color: #d5d5d5;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 50px;
}

#top ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#top ul li {
    flex: 0 0 60px;
}

.avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.container {
    width: 85%;
    margin: 0 auto;
}

footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px dashed #ddd;
}

footer ul {
    list-style: none;
    display: flex;
    padding: 10px;
}

footer ul li {
    font-size: 12px;
    color: #aaaaaa;
    margin-right: 10px;
}
